# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Gradle
.gradle
**/build/

# Bagel
bagel_index.json

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
ios/*.mobileprovision

# Android
android/local.properties
android/gradlew
android/gradlew.bat

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
